<ion-view view-title="Créer un nouveau profil">
  <ion-content id="new_container">

    <h1>INFORMATIONS AGENT</h1>

    <style>
      .addProfileNewForm {
        transition:all linear 0.5s;
        background: transparent;
      }
      form span{
        color: red;
      }
      table{
        width: 80%;
        margin-left: 10%;
        text-align: center;
      }
      td{
        width: 16.5%;
      }
      .cel1,
      .cel3,
      .cel5{
        text-align: right;
      }
      .cel2,
      .cel4,
      .cel6{
        text-align: left;
        padding-left: 2%;
      }
    </style>

    <form name="addProfileNewForm" ng-controller="addProfileNewFormCtrl">


      <table>
        <tr>
          <td class="cel1">* Civilité : </td>
          <td class="cel2">
            <select name="civilite">
            <option value="0">Monsieur</option>
            <option value="1">Madame</option>
            <option value="2">Autre</option>
            </select>
          </td>
          <td class="cel3">* Prénom :</td>
          <td class="cel4">
            <input type="text" name="prenom" ng-model="prenom" placeholder="Jean" required/>
            <span class="error" ng-show="addProfileNewForm.prenom.$error.required">Requis!</span>
          </td>
          <td class="cel5">* Nom :</td>
          <td class="cel6">
            <input type="text" name="nom" ng-model="nom" placeholder="Dupont" required/>
            <span class="error" ng-show="addProfileNewForm.nom.$error.required">Requis!</span>
          </td>
        </tr>
        <tr>
          <td class="cel1">Date de naissance:</td>
          <td class="cel2">
            <input type="date" name="birth" ng-model="birth" placeholder="10/12/95" /><br/>
          </td>
          <td class="cel3">* Collège :</td>
          <td class="cel4">
            <input type="text" name="college" ng-model="college" placeholder="College" required/>
            <span class="error" ng-show="addProfileNewForm.college.$error.required">Requis!</span>
          </td>
          <td class="cel5">* NNI :</td>
          <td class="cel6">
            <input type="text" name="nni" ng-model="nni" placeholder="AD00" required/>
            <span class="error" ng-show="addProfileNewForm.nni.$error.required">Requis!</span>
          </td>
        </tr>
        <tr>
          <td class="cel1">* Région :</td>
          <td class="cel2">
            <select name="region">
              <option value="1">Région 1</option>
              <option value="2">Région 2</option>
              <option value="3">Région 3</option>
            </select>
          </td>
          <td class="cel3">* Métier :</td>
          <td class="cel4">
            <select name="metier">
              <option value="1">Metier 1</option>
              <option value="2">Metier 2</option>
              <option value="3">Metier 3</option>
            </select>
          </td>
          <td class="cel5">*Statut :</td>
          <td class="cel6">
            <input type="text" name="statut" ng-model="statut" placeholder="Statut" required/>
            <span class="error" ng-show="addProfileNewForm.statut.$error.required">Requis!</span>
          </td>
        </tr>
        <tr>
          <td class="cel1">Ancienneté poste :</td>
          <td class="cel2">
            <input type="text" name="ancien" ng-model="ancien" placeholder="Ancienneté" />
          </td>
          <td class="cel3">Ancienneté IEG:</td>
          <td class="cel4">
            <input type="text" name="ancienieg" ng-model="ancienieg" placeholder="Ancienneté IEG" />
          </td>
          <td class="cel5">Niveau d'étude :</td>
          <td class="cel6">
            <input type="text" name="niveau" ng-model="niveau" placeholder="Etudes" />
          </td>
        </tr>
        <tr>
          <td class="cel1">E-mail :</td>
          <td class="cel2">
            <input type="text" name="email" ng-model="email" placeholder="ex@mail.com" />
          </td>
          <td class="cel3"></td>
          <td class="cel4"></td>
          <td class="cel5"></td>
          <td class="cel6"></td>
        </tr>
      </table>

      <p id="new_star">* indique un champ obligatoire</p>
      <button ng-click="reset()">Tout effacer</button>
      <button ng-click="go('/app/profile/addProfileNewValidation')">Suivant</button>

    </form>

  </ion-content>
</ion-view>

