<ion-view view-title="Validation">
  <ion-content id="validation_container">

    <h1>Profil créé</h1>

    <p class="validation_message">Le nouveau profil à bien été créé</p>

    <p class="validation_message">Vous pouvez choisir d'inviter l'agent à réaliser un module ou un parcours, ou bien créer un autre agent</p>
    <p class="validation_message">L'agent sera notifié par mail de ses identifiants.</p>

    <a class="validation_btn" href="#/app/addWorkModule"><p>Inviter l'agent à un module</p></a>
    <a class="validation_btn" href="#/app/addWorkParcours"><p>Inviter l'agent à un parcours métier</p></a>
    <a class="validation_btn" href="#/app/profile/addProfileNew"><p>Créer un autre profil agent</p></a>
  </ion-content>
</ion-view>
