<ion-view view-title="Modifier profil">
  <ion-content>
    <p>Modifier les valeurs : </p>

    <label for="nom">Nom:</label>
    <input type="text" name="nom" placeholder="Dupont">
    <label for="prenom">Préom:</label>
    <input type="text" name="prenom" placeholder="Jean">
    <label for="nni">NNI:</label>
    <input type="text" name="nni" placeholder="A00000D43">
    <label for="birth">Date de naissance:</label>
    <input type="date" name="birth" placeholder="01/01/1990">
    <label for="statut">Statut:</label>
    <input type="text" name="statut" placeholder="Statut">
    <label for="college">Collège:</label>
    <input type="text" name="college" placeholder="Collège">
    <label for="ancien">Ancienneté poste:</label>
    <input type="text" name="ancien" placeholder="Ancienneté">
    <label for="niveau">Niveau d'étude:</label>
    <input type="text" name="niveau" placeholder="Statut">
    	
    <a href="#/app/profil/editProfil/editProfilValidation">ENVOYER</a>
  </ion-content>
</ion-view>